nav>ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 203, 11);
    

}

nav>ul>li {
    padding: 10px;
    
}

nav>ul>li:hover {
    background-color: cornflowerblue;
}

nav>ul>li>a {
    text-decoration: none;
    color: aliceblue;
}

#active {
    background-color: rgb(48, 209, 209);
}

.fine {
    color: rgb(65, 122, 11);
    text-align: center;
    
}

.hi {
    color: rgb(89, 124, 190);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

p{
    width: 50vw;
    margin: auto; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    background-color: beige;  
    font-size: 150%;                                                                                                                                                            
}


 .hello {
    text-align: center;

 }

 .boo {
    display: block;
    margin: auto;
 }

 .geo {
    text-align: center;
    color: rgb(60, 128, 184);
 }

 .Switz {
    text-align: center;
    color: rgb(161, 122, 71);
    font-size: 200%;
 }

 .why {
    text-align: center;
    color: rgb(214, 165, 118);
    font-size: 180%;
 }

 .yummy {
    display: block;
    margin: auto;
 }

 .fudge {
    display: block;
    margin: auto;
    
    

 }




 .build {
    text-align: center;
 }